################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VirtualCard/v16
/VirtualCard/bin/Debug/netcoreapp2.2
/VirtualCard/obj
/VirtualCard.Tests/obj
/VirtualCard.Tests/bin/Debug/netcoreapp2.2
/.vs/VirtualCard/DesignTimeBuild
